name: Pull Request Labeler
on:
  pull_request:
    types: [ opened, edited ]
#    branches:
#      - main

jobs:
  label:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    name: Label issues and pull requests
    if: ${{ github.base_ref == 'master' && !startsWith(github.head_ref, 'r/') }}
    steps:
    - uses: actions/labeler@v3
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
